body {
	font-family: "Raleway";
	padding: 0px;
	margin: 0px;
	overflow: scroll;
}

.main-nav {
	position: absolute;
	display: flex;
	text-transform: uppercase;
	padding-left: 10%;
	font-family: "Oswald";
	width: 90%;
	height: 3.5rem;
	background: linear-gradient(#2b2b2b, #434343);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgb(202, 33, 90);
	border-top: 1px solid rgb(202, 33, 90);
}
.main-nav a {
	padding-top: 5px;
	padding-bottom: 6px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px rgb(202, 33, 90);
}

@media only screen and (max-width: 600px) {
	.main-nav a {
		font-size: 16px;
	}
}

.main-nav a:hover {
	text-shadow: none;
	color: rgb(202, 33, 90);
	border-bottom: 3px solid rgb(202, 33, 90);
}

.main-nav ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 6rem;
}

.main-nav li {
	padding-right: 2rem;
}

.main {
	margin: 1rem;
}

.recipe-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: stretch;
	flex-wrap: wrap;
	margin-left: 22%;
	margin-right: 22%;
	padding-top: 4rem;
}

.recipe-title {
	position: relative;
}

.title-overlay {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-transform: uppercase;
	width: 97.5%;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 3rem;
	margin-top: -4.05rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	padding-top: 0.355rem;
	padding-left: 5px;
	padding-bottom: 5px;
	border-top: 3px solid rgb(202, 33, 90);
}

.recipe-image img {
	width: auto;
	height: 200px;
	width: 200px;
	border-radius: 10px;
}

.recipe-wrapper {
	display: block;
	margin-top: 1rem;
	margin-right: 5px;
}

.view-recipe {
	background-color: rgb(202, 33, 90);
	border-radius: 5px;
	border: 1px solid rgb(143, 26, 65);
	color: white;
	height: 20px;
	margin-bottom: 3px;
	margin-right: 8px;
}

.view-recipe:hover {
	cursor: pointer;
	background-color: rgb(180, 31, 81);
}

.detail-wrapper {
	padding-top: 5rem;
}

.recipe-detail-container {
	border: 2px solid rgb(202, 33, 90);
	box-shadow: -1px 0px 17px -7px rgb(0 0 0 / 75%);
	width: 65%;
	padding: 1rem 0rem;
	margin-left: auto;
	margin-right: auto;
}

.recipe-detail-container h1 {
	font-size: 24px;
	text-align: center;
	margin-top: 0;
}

@media only screen and (max-width: 640px) {
	.recipe-detail-container h1 {
		font-size: 20px;
	}
}

.recipe-detail-image {
	display: flex;
	justify-content: center;
}

.recipe-detail-image img {
	width: auto;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
	.recipe-detail-image img {
		width: 350px;
	}
}

.deko-line {
	border-bottom: 5px solid rgb(180, 31, 81);
	display: inline-block;
	width: 2rem;
	margin-bottom: 0.5rem;
}

.logo-icon {
	font-size: 40px;
	color: rgb(180, 31, 81);
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	text-shadow: 0 0 3px #000;
}

.logo-text-1 {
	margin-top: -2px;
	font-size: 24px;
	color: white;
	display: inline-block;
}

.logo-text-2 {
	color: rgb(180, 31, 81);
	display: block;
	display: flex;
	margin-top: -10px;
	font-weight: 700;
	letter-spacing: 2px;
}

.logo-box {
	margin-top: 2px;
}

/* ################## SCROLLBAR ##################### */
/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(202, 33, 90);
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(202, 33, 90);
}
/* ################## SCROLLBAR ##################### */

.recipe-detail-ingredients,
.recipe-detail-steps {
	white-space: pre-line !important;
	white-space: pre-wrap !important;
}

.recipe-inner-body {
	display: flex;
}

.recipe-detail-info {
	font-weight: 600;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 3rem;
	background: linear-gradient(rgb(221, 221, 221), #c9c9c9);
	border-top: 1px solid rgb(202, 33, 90);
	border-bottom: 1px solid rgb(202, 33, 90);
}

.recipe-detail-ingredients {
	padding: 8px;
	font-family: "Raleway";
	font-weight: 600;
	color: #3b3b3b;
	flex: 2;
	width: 35%;
}

.recipe-detail-steps {
	font-family: "Raleway";
	font-weight: 600;
	color: #3b3b3b;
	padding: 8px;
	flex: 2;
	width: 35%;
}

.recipe-info-label {
	font-weight: 300;
	font-size: 12px;
	display: block;
}

.recipe-detail-footer {
	padding-top: 4px;
	align-items: flex-start;
	color: white;
	display: flex;
	justify-content: space-around;
	border-top: 2px solid rgb(202, 33, 90);
	margin-bottom: 0px;
	width: 100%;
	background: linear-gradient(#000, #2b2b2b);
	height: 6rem;
}

.footer-element p {
	color: #e6e6e6;
	cursor: pointer;
	font-size: 12px;
	margin: 3px 0px 0px 16px;
	padding: 0px;
}

.footer-element p:hover {
	color: rgb(180, 31, 81);
}

.footer-element-label {
	padding-left: 4px;
	border-left: 12px ridge rgb(202, 33, 90);
	padding-right: 10px;
	border-bottom: 1px dashed rgb(202, 33, 90);
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}

.social-icons {
	padding-top: 6px;
}

.social-icon {
	padding: 0px 2px;
	color: #e6e6e6;
}

.icon-facebook:hover {
	color: #3b5998;
	cursor: pointer;
}

.icon-twitter:hover {
	color: #00acee;
	cursor: pointer;
}

.icon-pinterest:hover {
	color: rgb(202, 33, 90);
	cursor: pointer;
}

.icon-linkedin:hover {
	color: #0e76a8;
	cursor: pointer;
}

.icon-youtube:hover {
	color: rgb(202, 33, 90);
	cursor: pointer;
}

.icon-tiktok:hover {
	background-image: linear-gradient(
		180deg,
		#010101,
		#69c9d0,
		#ffffff,
		#ee1d52
	);
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}

.home-container {
	background-image: url('http://www.skeel.de/img/cookbook-bg.jpg');
	height: 100vh;
	width: 99vw;
	background-position-x: 6%;
	background-position-y: 18%;
}

.home-container h1 {
	font-family: "Akronim";
	font-size: 60px;
	color: rgb(202, 33, 90);
	text-align: center;
}

.about-container {
	background-size: cover;
}

.container-ml2 {
	margin-left: 2rem;
}

.edit-btn{
	position: absolute;
	background-color: rgb(202, 33, 90);
	border-radius: 3px;
	padding: 10px;
	color: white;
	font-weight: 600;
	margin-top: 1rem;
	box-shadow: inset 0.1em 0.1em 0.1em 0 rgb(255 255 255 / 50%), inset -0.1em -0.1em 0.1em 0 rgb(0 0 0 / 50%);
	cursor: pointer;
	left: 68%;
}

.edit-btn:hover {
	box-shadow: inset 0.1em 0.1em 0.1em 0 rgb(69 69 69 / 50%), inset -0.1em -0.1em 0.1em 0 rgb(156 156 156 / 50%);
	background-color: rgb(172, 28, 76);
}